*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* landing page styling */

.landing-page {
  background: url(https://i.postimg.cc/sxQvf1vx/women-shoes-realistic-background-vector.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.home {
  font-size: 6rem;
  text-align: center;
  justify-content: center;
  margin-top: 11rem;
  /* margin-bottom: 0; */
  height: 70vh;
}

.home .stock {
  font-size: 1.5rem;
}

/* shoes page styling */

.heels .title {
  text-align: center;
  justify-content: center;
}

button {
  border: none;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  padding-right: 1rem;
  margin-top: 1rem;
}


footer {
  background-color: crimson;
}

footer {
  background: #111;
  color: #fff;
  padding: 4rem;

}

footer th {
  font-size: 1rem;
}

footer td {
  font-size: 0.6rem;
}

footer td a {
  color: #fff;
}

table,
th,
td {
  border-collapse: collapse;
}

th,
td {
  padding-left: 8rem;
}

footer p {
  font-size: 0.6rem;
  text-align: center;
  padding-top: 30px;
}

.list-group {
  padding-bottom: 2rem;
}

/* Media Queries */

@media screen and (min-width: 300px) {
  .home {
    font-size: 1.5rem;
    text-align: center;
    justify-content: center;
    margin-top: 4rem;
    height: 70vw;
  }

  .home .stock {
    font-size: 1rem;
  }

  th,
  td {
    padding-left: 0.1rem;
  }

  footer {
    padding: 0.5rem;
  }

  footer td {
    font-size: 0.5rem;
  }

  .card-img-top {
    width: 100%;
  }

  .container {
    max-width: 100%;
    width: 100%;
  }
}

@media screen and (min-width:400px) {
  .home {
    font-size: 1.6rem;
    text-align: center;
    justify-content: center;
    margin-top: 10rem;
    height: 60vw;
  }

  .home .stock {
    font-size: 1.1rem;
  }
  
  th,
  td {
    padding-left: 0.3rem;
  }

  footer {
    padding: 0.5rem;
  }

  footer td {
    font-size: 0.6rem;
  }

}

@media screen and (min-width:500px) {
  .home {
    font-size: 1.8rem;
    text-align: center;
    justify-content: center;
    margin-top: 10rem;
    height: 60vw;
  }

  .home .stock {
    font-size: 1.2rem;
  }

  th,
  td {
    padding-left: 0.5rem;
  }

  footer {
    padding: 0.9rem;
  }

  footer td {
    font-size: 0.6rem;
  }

}

@media screen and (min-width:600px) {
  .home {
    font-size: 1.9rem;
    text-align: center;
    justify-content: center;
    margin-top: 10rem;
    height: 60vw;
  }

  .home .stock {
    font-size: 1.2rem;
  }

  th,
  td {
    padding-left: 1rem;
  }

  footer {
    padding: 1.6rem;
  }

  footer td {
    font-size: 0.6rem;
  }

}

@media screen and (min-width:700px) {
  .home {
    font-size: 1.9rem;
    text-align: center;
    justify-content: center;
    margin-top: 10rem;
    height: 45vw;
  }

  .home .stock {
    font-size: 1.2rem;
  }

  th,
  td {
    padding-left: 4rem;
  }

  footer {
    padding: 2rem;
  }

  footer td {
    font-size: 0.6rem;
  }
}

@media screen and (min-width:800px) {
  .home {
    font-size: 1.9rem;
    text-align: center;
    justify-content: center;
    margin-top: 10rem;
    height: 45vw;
  }

  .home .stock {
    font-size: 1.2rem;
  }

  th,
  td {
    padding-left: 4rem;
  }

  footer {
    padding: 2rem;
  }

  footer td {
    font-size: 0.6rem;
  }
}