*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* landing page styling */

.landing-page {
  background: url(https://i.postimg.cc/sxQvf1vx/women-shoes-realistic-background-vector.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.home {
  font-size: 3rem;
  text-align: center;
  justify-content: center;
  margin-top: 18rem;
  height: 100vh;
}

.home .stock {
  font-size: 1.5rem;
}

/* shoes page styling */

.heels .title {
  text-align: center;
  justify-content: center;
}

button {
  border: none;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  padding-right: 1rem;
  margin-top: 1rem;
}


footer {
  background-color: crimson;
}

footer {
  background: #111;
  color: #fff;
  padding: 30px;

}

footer th {
  font-size: 1rem;
}

footer td {
  font-size: 0.6rem;
}

footer td a {
  color: #fff;
}

table,
th,
td {
  border-collapse: collapse;
}
th,
td {
  padding-left: 160px;
}

footer p {
  font-size: 10px;
  text-align: center;
  padding-top: 30px;
}

.list-group {
  padding-bottom: 20px;
}

/* Media Queries */

/* @media screen and (max-width: 310px) {
  .container {
    scale: 0.95;
  }
}

@media screen and (min-width:1000px) and ( max-width: 1200px) {
  .container {
    scale: 1.4;
    margin-top: 90px;
    height: 460px;
    line-height: 50px;
    width: 300px;
  }
  .display-top,
.display-bottom {
  height: 60px;
}

} */

